@page
@model CornDome.Pages.CardDatabaseModel
@{
    ViewData["Title"] = "Card Database";
}

<div>
    <fieldset id="filterBox">
        <legend>Filters</legend>
        <div class="filter-group">
            <label for="cardTypeFilter">Card Type: </label>
            <select id="cardTypeFilter">
                <option value="">- None -</option>
                <option value="@CardType.Creature">Creature</option>
                <option value="@CardType.Spell">Spell</option>
                <option value="@CardType.Building">Building</option>
                <option value="@CardType.Hero">Hero</option>
                <option value="@CardType.Landscape">Landscape</option>
                <option value="@CardType.Teamwork">Teamwork</option>
            </select>
        </div>
        <div class="filter-group">
            <label for="landscapeFilter">Landscape: </label>
            <select id="landscapeFilter">
                <option value="">- None -</option>
                <option value="@Landscape.BluePlains">Blue Plains</option>
                <option value="@Landscape.CornFields">Cornfields</option>
                <option value="@Landscape.UselessSwamp">Useless Swamp</option>
                <option value="@Landscape.SandyLands">SandyLands</option>
                <option value="@Landscape.NiceLands">NiceLands</option>
                <option value="@Landscape.IcyLands">IcyLands</option>
                <option value="@Landscape.Rainbow">Rainbow</option>
            </select>
        </div>
        <div class="filter-group">
            <label for="setFilter">Set: </label>
            <select id="setFilter">
                <option value="">- None -</option>
                <option value="@Set.FinnVSJake">@SetConverter.ToString(Set.FinnVSJake)</option>
                <option value="@Set.BMOVSLadyRainicorn">@SetConverter.ToString(Set.BMOVSLadyRainicorn)</option>
                <option value="@Set.PrincessBubblegumVSLumpySpacePrincess">@SetConverter.ToString(Set.PrincessBubblegumVSLumpySpacePrincess)</option>
                <option value="@Set.IceKingVSMarceline">@SetConverter.ToString(Set.IceKingVSMarceline)</option>
                <option value="@Set.LemonGrabVSGunter">@SetConverter.ToString(Set.LemonGrabVSGunter)</option>
                <option value="@Set.FionnaVSCake">@SetConverter.ToString(Set.FionnaVSCake)</option>
                <option value="@Set.DoublesTournament">@SetConverter.ToString(Set.DoublesTournament)</option>
                <option value="@Set.HeroPack">@SetConverter.ToString(Set.HeroPack)</option>
                <option value="@Set.ForTheGlory">@SetConverter.ToString(Set.ForTheGlory)</option>
                <option value="@Set.Promo">@SetConverter.ToString(Set.Promo)</option>
                <option value="@Set.Kickstarter">@SetConverter.ToString(Set.Kickstarter)</option>
            </select>
        </div>
        <div class="filter-group">
            <label for="nameFilter">Name: </label>
            <input type="text" id="nameFilter" />
        </div>
        <div class="filter-group">
            <label for="abilityFilter">Ability: </label>
            <input type="text" id="abilityFilter" />
        </div>
        <div class="filter-group">
            <label for="costFilter">Cost: </label>
            <input type="number" id="costFilter" />
        </div>
        <div class="filter-group">
            <label for="attackFilter">Attack: </label>
            <input type="number" id="attackFilter" />
        </div>
        <div class="filter-group">
            <label for="defenseFilter">Defense: </label>
            <input type="number" id="defenseFilter" />
        </div>
    </fieldset>
</div>

<div>
    <div style="display: flex; flex-wrap: wrap;">
        @foreach (var card in Model.Cards)
        {
            CardViewModel cvm = new CardViewModel() { Card = card, IsAddable = true, CardImageType = CardImageType.XSmall };
            <a asp-page="/Card" asp-route-id="@card.Id">
                <partial name="_Card" model="cvm" />
            </a>
        }
    </div>
</div>

@section Scripts {
    <script src="./js/filter.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="./css/carddatabase.css" />
}