@page
@model CornDome.Pages.CardModel
@{
    ViewData["Title"] = Model.QueryCard.LatestRevision.Name;

    var selectedRevision = Model.QueryCard.LatestRevision;
    if (Model.RevisionId != null)
        selectedRevision = Model.QueryCard.Revisions.FirstOrDefault(x => x.Id == Model.RevisionId);
}

@if (Model.QueryCard == null)
{
    <h1>Invalid card ID.</h1>
}
else
{
    <div>
        <h1>@selectedRevision.Name</h1>
    </div>
    <div class="card-detail">
        <div style="width: 50%">
            @if (!string.IsNullOrEmpty(selectedRevision.GetRegularImage))
            {
                <img style="width: 100%; max-width: 500px;" alt="@selectedRevision.Name" src="@("/CardImages/" + selectedRevision.GetRegularImage)" />
            }
            else // Try smaller image if regular isn't available (only important for early first prints. Will eventually fill in regular images)
            {
                <img style="width: 100%; max-width: 500px;" alt="@selectedRevision.Name" src="@("/CardImages/" + selectedRevision.GetSmallImage)" />
            }

            @if (selectedRevision.CardSet > Set.Kickstarter1)
            {
                <p style="margin-top: 20px;">* Card images from Kickstarter #2 may be blurry until we get better scans.</p>
            }
        </div>
        <div style="width: 50%; padding: 20px;">
            <div class="card-text-section">
                <span class="bold-label">Card Type: </span><br /><span>@selectedRevision.CardType</span>
            </div>
            @if (selectedRevision.Landscape.HasValue)
            {
                <div class="card-text-section">
                    <span class="bold-label">Landscape: </span><br /><span>@LandscapeConverter.ToString(selectedRevision.Landscape.Value)</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(selectedRevision.Ability))
            {
                <div class="card-text-section">
                    <span class="bold-label">Ability: </span><br /><span>@selectedRevision.Ability</span>
                </div>
            }

            @if (selectedRevision.CardSet.HasValue)
            {
                <div class="card-text-section">
                    <span class="bold-label">Set: </span><br /><span>@SetConverter.ToString(selectedRevision.CardSet.Value)</span>
                </div>
            }

            @if (selectedRevision.Cost.HasValue)
            {
                <div class="card-text-section">
                    <span class="bold-label">Cost: </span><span>@selectedRevision.Cost</span>
                </div>
            }

            @if (selectedRevision.Attack.HasValue || selectedRevision.Defense.HasValue)
            {
                <div class="card-text-section" style="display: flex">
                    <div style="width: 50%">
                        <span class="bold-label">Attack: </span><span>@selectedRevision.Attack</span>
                    </div>
                    <div>
                        <span class="bold-label">Defense: </span><span>@selectedRevision.Defense</span>
                    </div>
                </div>
            }

            @if (Model.QueryCard.Revisions.Count > 0)
            {
                <div class="card-text-section">
                    <div>
                        <span class="bold-label">Revisions: </span>
                    </div>
                    <br />
                    <div style="display: flex">
                        @foreach (var rev in Model.QueryCard.Revisions.OrderBy(x => x.RevisionNumber))
                        {
                            <div style="width: 50%">
                                <a asp-page="/Card" asp-route-id="@selectedRevision.CardId" asp-route-revision="@rev.Id">Revision @rev.RevisionNumber</a>
                                @if (rev.GetSmallImage != null)
                                {
                                    <img style="width: 100px;" alt="@rev.Name" src="@("/CardImages/" + rev.GetSmallImage)" />
                                }
                                else if (rev.GetRegularImage != null)
                                {
                                    <img style="width: 100px;" alt="@rev.Name" src="@("/CardImages/" + rev.GetRegularImage)" />
                                }
                                else
                                {
                                    <img style="width: 100px;" alt="@rev.Name" src="@("/CardImages/" + rev.GetLargeImage)" />
                                }
                            </div>
                        }
                    </div>
                </div>
            }

            <div class="card-text-section">
                <div id="feedback-section">
                    <div>
                        <a class="bold-label" onclick="showFeedbackForm()" style="cursor: pointer;">Something wrong? </a>
                    </div>
                    <div id="feedback-form" style="margin-top: 10px; display: none;">
                        <div class="form-group">
                            <label for="feedback">Feedback: </label>
                            <input name="feedback" id="feedback-input" type="text" class="form-control" required placeholder="What is incorrect on this page?" />
                            <input name="card" id="feedback-card" type="hidden" class="form-control" value="@selectedRevision.CardId" />
                            <input name="revision" id="feedback-revision" type="hidden" class="form-control" value="@selectedRevision.Id" />
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <button type="button" id="feedback-submit" class="btn btn-primary" onclick="submitFeedback()">Submit</button>
                        </div>
                    </div>
                </div>
                
                <div id="feedback-result" style="display: none;">
                    <span id="feedback-success">Thank you for your feedback!</span>
                    <span id="feedback-error">An error happened while submitting feedback.</span>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        function showFeedbackForm() {
            document.getElementById("feedback-form").style.display = "block";
        }

        function hideFeedbackForm() {
            document.getElementById("feedback-form").style.display = "none";
        }

        function submitFeedback() {
            var text = document.getElementById("feedback-input").value;
            var card = document.getElementById("feedback-card").value;
            var revision = document.getElementById("feedback-revision").value;

            hideFeedbackForm();

            var feedbackForm = {
                feedback: text,
                cardId: parseInt(card, 10),
                revisionId: parseInt(revision, 10)
            };

            fetch('/Card?handler=Feedback', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                credentials: 'same-origin',
                body: JSON.stringify(feedbackForm)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById("feedback-success").style.display = "block";
                        document.getElementById("feedback-error").style.display = "none";
                    } else {
                        document.getElementById("feedback-error").style.display = "block";
                        document.getElementById("feedback-success").style.display = "none";
                    }

                    document.getElementById("feedback-result").style.display = "block";
                    document.getElementById("feedback-section").style.display = "none";
                    document.getElementById("feedback-input").value = "";

                    setTimeout(function () {
                        document.getElementById("feedback-result").style.display = "none";
                        document.getElementById("feedback-section").style.display = "block";
                    }, 5000);
                })
                .catch(error => console.error('Error:', error));
        }
    
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/card-page.css" />
}