@page
@model CornDome.Pages.CardModel
@{
    ViewData["Title"] = Model.QueryCard.Name;
}

@if (Model.QueryCard == null)
{
    <h1>Invalid card ID.</h1>
}
else
{
    <div>
        <h1>@Model.QueryCard.Name</h1>
    </div>
    <div class="card-detail">
        <div style="width: 50%">
            <img style="width: 100%; max-width: 500px;" alt="@Model.QueryCard.Name" src="@("/CardImages/" + Model.QueryCard.ImageUrl)" />
        </div>
        <div style="width: 50%; padding: 20px;">
            <div class="card-text-section">
                <span class="bold-label">Card Type: </span><br /><span>@Model.QueryCard.CardType</span>
            </div>
            @if (Model.QueryCard.Landscape.HasValue)
            {
                <div class="card-text-section">
                    <span class="bold-label">Landscape: </span><br /><span>@LandscapeConverter.ToString(Model.QueryCard.Landscape.Value)</span>
                </div>
            }
            @if (Model.QueryCard.Ability != "")
            {
                <div class="card-text-section">
                    <span class="bold-label">Ability: </span><br /><span>@Model.QueryCard.Ability</span>
                </div>
            }

            @if (Model.QueryCard.Set.HasValue)
            {
                <div class="card-text-section">
                    <span class="bold-label">Set: </span><br /><span>@SetConverter.ToString(Model.QueryCard.Set.Value)</span>
                </div>
            }

            @if (Model.QueryCard.Cost.HasValue)
            {
                <div class="card-text-section">
                    <span class="bold-label">Cost: </span><span>@Model.QueryCard.Cost</span>
                </div>
            }

            @if (Model.QueryCard.Attack.HasValue || Model.QueryCard.Defense.HasValue)
            {
                <div class="card-text-section" style="display: flex">
                    <div style="width: 50%">
                        <span class="bold-label">Attack: </span><span>@Model.QueryCard.Attack</span>
                    </div>
                    <div>
                        <span class="bold-label">Defense: </span><span>@Model.QueryCard.Defense</span>
                    </div>
                </div>
            }
        </div>
    </div>
}

@section Styles {
    <link rel="stylesheet" href="~/css/card-page.css" />
}