@page
@model CornDome.Pages.CardModel
@{
    ViewData["Title"] = Model.QueryCard.LatestRevision.Name;

    var selectedRevision = Model.QueryCard.LatestRevision;
    if (Model.RevisionId != null)
        selectedRevision = Model.QueryCard.Revisions.FirstOrDefault(x => x.Id == Model.RevisionId);
}

@if (Model.QueryCard == null)
{
    <h1>Invalid card ID.</h1>
}
else
{
    <div>
        <h1>@selectedRevision.Name</h1>
    </div>
    <div class="card-detail">
        <div style="width: 50%">
            @if (!string.IsNullOrEmpty(selectedRevision.GetRegularImage))
            {
                <img style="width: 100%; max-width: 500px;" alt="@selectedRevision.Name" src="@("/CardImages/" + selectedRevision.GetRegularImage)" />
            }
            else // Try smaller image if regular isn't available (only important for early first prints. Will eventually fill in regular images)
            {
                <img style="width: 100%; max-width: 500px;" alt="@selectedRevision.Name" src="@("/CardImages/" + selectedRevision.GetSmallImage)" />
            }
        </div>
        <div style="width: 50%; padding: 20px;">
            <div class="card-text-section">
                <span class="bold-label">Card Type: </span><br /><span>@selectedRevision.CardType</span>
            </div>
            @if (selectedRevision.Landscape.HasValue)
            {
                <div class="card-text-section">
                    <span class="bold-label">Landscape: </span><br /><span>@LandscapeConverter.ToString(selectedRevision.Landscape.Value)</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(selectedRevision.Ability))
            {
                <div class="card-text-section">
                    <span class="bold-label">Ability: </span><br /><span>@selectedRevision.Ability</span>
                </div>
            }

            @if (selectedRevision.CardSet.HasValue)
            {
                <div class="card-text-section">
                    <span class="bold-label">Set: </span><br /><span>@SetConverter.ToString(selectedRevision.CardSet.Value)</span>
                </div>
            }

            @if (selectedRevision.Cost.HasValue)
            {
                <div class="card-text-section">
                    <span class="bold-label">Cost: </span><span>@selectedRevision.Cost</span>
                </div>
            }

            @if (selectedRevision.Attack.HasValue || selectedRevision.Defense.HasValue)
            {
                <div class="card-text-section" style="display: flex">
                    <div style="width: 50%">
                        <span class="bold-label">Attack: </span><span>@selectedRevision.Attack</span>
                    </div>
                    <div>
                        <span class="bold-label">Defense: </span><span>@selectedRevision.Defense</span>
                    </div>
                </div>
            }

            @if (Model.QueryCard.Revisions.Count > 0)
            {
                <div class="card-text-section">
                    <div>
                        <span class="bold-label">Revisions: </span>
                    </div>
                    <br />
                    <div style="display: flex">
                        @foreach (var rev in Model.QueryCard.Revisions)
                        {
                            <div style="width: 50%">
                                <a asp-page="/Card" asp-route-id="@selectedRevision.CardId" asp-route-revision="@rev.Id">Revision @rev.RevisionNumber</a>
                                @if (rev.GetSmallImage != null)
                                {
                                    <img style="width: 100px;" alt="@rev.Name" src="@("/CardImages/" + rev.GetSmallImage)" />
                                }
                                else if (rev.GetRegularImage != null)
                                {
                                    <img style="width: 100px;" alt="@rev.Name" src="@("/CardImages/" + rev.GetRegularImage)" />
                                }
                                else
                                {
                                    <img style="width: 100px;" alt="@rev.Name" src="@("/CardImages/" + rev.GetLargeImage)" />
                                }

                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}

@section Styles {
    <link rel="stylesheet" href="~/css/card-page.css" />
}