@page
@model DeckBuilderModel
@{
    ViewData["RenderMode"] = "wide";
    ViewData["Title"] = "Deck Builder";
}
<div class="builder-area">
    <div class="tool-area">
        <fieldset class="stats">
            <legend>Stats</legend>
            <div><span class="info-stamp" title="The minimum deck limit is 40 cards."></span> Total Cards: <span id="total-stat">0</span></div>
            <br />
            <div><span class="info-stamp" title="Only 1 Hero is allowed per deck."></span> Heroes: <span id="heroes-stat">0</span></div>
            <div><span class="info-stamp" title="Only 4 Landscapes are allowed per deck."></span> Landscapes: <span id="landscapes-stat">0</span></div>
            <div><span class="info-stamp" title="You can have as many creatures as you like."></span> Creatures: <span id="creature-stat">0</span></div>
            <div><span class="info-stamp" title="You can have as many spells as you like."></span> Spells: <span id="spell-stat">0</span></div>
            <div><span class="info-stamp" title="You can have as many buildings as you like."></span> Buildings: <span id="building-stat">0</span></div>
            <br />
            <div>Blue Plains: <span id="bp-stat">0</span></div>
            <div>Cornfields: <span id="cf-stat">0</span></div>
            <div>Useless Swamp: <span id="us-stat">0</span></div>
            <div>SandyLands: <span id="sl-stat">0</span></div>
            <div>NiceLands: <span id="nl-stat">0</span></div>
            <div>IcyLands: <span id="il-stat">0</span></div>
            <div>Rainbow: <span id="rb-stat">0</span></div>
            <div>LavaFlats: <span id="lf-stat">0</span></div>
        </fieldset>

        <fieldset id="actions">
            <legend>Actions</legend>
            <button id="validateButton" type="button" class="btn btn-lg btn-block btn-primary">Validate Deck</button>
            <button id="decklistExport" type="button" class="btn btn-lg btn-block btn-primary">Copy decklist to clipboard</button>
            <button id="permalinkExport" type="button" class="btn btn-lg btn-block btn-primary">Copy permalink to clipboard</button>
            <button id="tryoutButton" type="button" class="btn btn-lg btn-block btn-primary">Try it out</button>
            <button id="saveButton" type="button" class="btn btn-lg btn-block btn-primary">Save (Browser storage)</button>
            <!--<button id="" type="button" class="btn btn-lg btn-block btn-primary">Data Dive</button>-->
        </fieldset>
    </div>
    <div class="deck-area">
        <h2>Hero</h2>
        <div id="deck-hero">
            @if (Model.QueryDeck != null)
            {
                @if (Model.QueryDeck.Hero != null)
                {
                    CardViewModel cvm = new CardViewModel() { Card = Model.QueryDeck.Hero, IsDeleteable = true };
                    <partial name="_Card" model="cvm" />
                }
            }
        </div>

        <h2>Landscapes</h2>
        <div id="deck-landscapes">
            @if (Model.QueryDeck != null)
            {
                @foreach (var landscape in Model.QueryDeck.Landscapes)
                {
                    CardViewModel cvm = new CardViewModel() { Card = landscape, IsDeleteable = true };
                    <partial name="_Card" model="cvm" />
                }
            }
        </div>

        <h2>Creatures, Spells, and Buildings</h2>
        <div id="deck-cards">
            @if (Model.QueryDeck != null)
            {
                @foreach (var card in Model.QueryDeck.Cards)
                {
                    CardViewModel cvm = new CardViewModel() { Card = card, IsDeleteable = true };
                    <partial name="_Card" model="cvm" />
                }
            }
        </div>
    </div>
    <div class="library-area">
        <fieldset id="filterBox">
            <legend>Filters</legend>
            <div class="filter-group">
                <label for="cardTypeFilter" class="filter-label">Card Type: </label>
                <select id="cardTypeFilter">
                    <option value="">- None -</option>
                    <option value="@((int)CardTypeEnum.Creature)">Creature</option>
                    <option value="@((int)CardTypeEnum.Spell)">Spell</option>
                    <option value="@((int)CardTypeEnum.Building)">Building</option>
                    <option value="@((int)CardTypeEnum.Hero)">Hero</option>
                    <option value="@((int)CardTypeEnum.Landscape)">Landscape</option>
                    <option value="@((int)CardTypeEnum.Teamwork)">Teamwork</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="setFilter" class="filter-label">Set: </label>
                <select id="setFilter">
                    <option value="">- None -</option>
                    <option value="@((int)Set.FinnVSJake)">@SetConverter.ToString(Set.FinnVSJake)</option>
                    <option value="@((int)Set.BMOVSLadyRainicorn)">@SetConverter.ToString(Set.BMOVSLadyRainicorn)</option>
                    <option value="@((int)Set.PrincessBubblegumVSLumpySpacePrincess)">@SetConverter.ToString(Set.PrincessBubblegumVSLumpySpacePrincess)</option>
                    <option value="@((int)Set.IceKingVSMarceline)">@SetConverter.ToString(Set.IceKingVSMarceline)</option>
                    <option value="@((int)Set.LemonGrabVSGunter)">@SetConverter.ToString(Set.LemonGrabVSGunter)</option>
                    <option value="@((int)Set.FionnaVSCake)">@SetConverter.ToString(Set.FionnaVSCake)</option>
                    <option value="@((int)Set.DoublesTournament)">@SetConverter.ToString(Set.DoublesTournament)</option>
                    <option value="@((int)Set.HeroPack)">@SetConverter.ToString(Set.HeroPack)</option>
                    <option value="@((int)Set.ForTheGlory)">@SetConverter.ToString(Set.ForTheGlory)</option>
                    <option value="@((int)Set.Promo)">@SetConverter.ToString(Set.Promo)</option>
                    <option value="@((int)Set.Kickstarter1)">@SetConverter.ToString(Set.Kickstarter1)</option>
                    <option value="@((int)Set.FlamePrincessVSFern)">@SetConverter.ToString(Set.FlamePrincessVSFern)</option>
                    <option value="@((int)Set.PrismoVSTheLich)">@SetConverter.ToString(Set.PrismoVSTheLich)</option>
                    <option value="@((int)Set.PeppermintButlerVSMagicMan)">@SetConverter.ToString(Set.PeppermintButlerVSMagicMan)</option>
                    <option value="@((int)Set.Kickstarter2)">@SetConverter.ToString(Set.Kickstarter2)</option>
                    <option value="@((int)Set.DarklandsExpansion)">@SetConverter.ToString(Set.DarklandsExpansion)</option>
                    <option value="@((int)Set.CustomCards)">@SetConverter.ToString(Set.CustomCards)</option>
                    <option value="@((int)Set.LandOfLegends)">@SetConverter.ToString(Set.LandOfLegends)</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="nameFilter" class="filter-label">Name: </label>
                <input type="text" id="nameFilter" />
            </div>
            <div class="filter-group">
                <label for="abilityFilter" class="filter-label">Ability: </label>
                <input type="text" id="abilityFilter" />
            </div>
            <div class="filter-group">
                <label for="costFilter" class="filter-label">Cost: </label>
                <input type="number" id="costFilter" />
            </div>
            <div class="filter-group">
                <label for="attackFilter" class="filter-label">Attack: </label>
                <input type="number" id="attackFilter" />
            </div>
            <div class="filter-group">
                <label for="defenseFilter" class="filter-label">Defense: </label>
                <input type="number" id="defenseFilter" />
            </div>
            <div class="mb-2 text-center">
                <label for="customCardFilter" class="filter-label" style="width: inherit;">Show Community Made Cards: </label>
                <input type="checkbox" class="form-check-input" id="customCardFilter" />
            </div>
            <div class="filter-group" id="checkbox-filter-group">
                <label for="cardTypeFilter" class="filter-label">Landscape: </label>
                <div id="checkboxes">
                    <label><input type="checkbox" class="landscape-checkbox form-check-input" value="@((int)LandscapeEnum.BluePlains)" /> @LandscapeConverter.ToString(LandscapeEnum.BluePlains)</label>
                    <label><input type="checkbox" class="landscape-checkbox form-check-input" value="@((int)LandscapeEnum.CornFields)" /> @LandscapeConverter.ToString(LandscapeEnum.CornFields)</label>
                    <label><input type="checkbox" class="landscape-checkbox form-check-input" value="@((int)LandscapeEnum.UselessSwamp)" /> @LandscapeConverter.ToString(LandscapeEnum.UselessSwamp)</label>
                    <label><input type="checkbox" class="landscape-checkbox form-check-input" value="@((int)LandscapeEnum.SandyLands)" /> @LandscapeConverter.ToString(LandscapeEnum.SandyLands)</label>
                    <label><input type="checkbox" class="landscape-checkbox form-check-input" value="@((int)LandscapeEnum.NiceLands)" /> @LandscapeConverter.ToString(LandscapeEnum.NiceLands)</label>
                    <label><input type="checkbox" class="landscape-checkbox form-check-input" value="@((int)LandscapeEnum.IcyLands)" /> @LandscapeConverter.ToString(LandscapeEnum.IcyLands)</label>
                    <label><input type="checkbox" class="landscape-checkbox form-check-input" value="@((int)LandscapeEnum.Rainbow)" /> @LandscapeConverter.ToString(LandscapeEnum.Rainbow)</label>
                    <label><input type="checkbox" class="landscape-checkbox form-check-input" value="@((int)LandscapeEnum.LavaFlats)" /> @LandscapeConverter.ToString(LandscapeEnum.LavaFlats)</label>
                </div>
            </div>
            <div class="filter-group mb-2 text-center">
                <input type="checkbox" id="burnTokenFilter" class="custom-checkbox custom-checkbox-burn" />
                <label for="burnTokenFilter" class="checkbox-label checkbox-label-burn"></label>

                <input type="checkbox" id="freezeTokenFilter" class="custom-checkbox custom-checkbox-freeze" />
                <label for="freezeTokenFilter" class="checkbox-label checkbox-label-freeze"></label>

                <input type="checkbox" id="attackTokenFilter" class="custom-checkbox custom-checkbox-attack" />
                <label for="attackTokenFilter" class="checkbox-label checkbox-label-attack"></label>
            </div>
            <div class="filter-group">
                <label for="sortOption" class="filter-label">Sort By: </label>
                <select id="sortOption" autocomplete="off">
                    <option value="name">Name</option>
                    <option value="cost">Cost</option>
                    <option value="set">Set</option>
                    <option value="cardType">Card Type</option>
                    <option value="attack">Attack</option>
                    <option value="defense">Defense</option>
                    <option value="landscape">Landscape</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="sortAscDesc" class="filter-label">Sort Direction: </label>
                <select id="sortAscDesc" autocomplete="off">
                    <option value="a">Ascending</option>
                    <option value="b">Descending</option>
                </select>
            </div>
        </fieldset>
        <div class="d-flex flex-wrap" id="card-list">
            @foreach (var card in Model.Cards.OrderBy(x => x.LatestRevision.Name))
            {
                CardViewModel cvm = new CardViewModel() { Card = card, IsAddable = true };
                <div class="card-element">
                    <partial name="_Card" model="cvm" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="./js/enums.js" asp-append-version="true"></script>
    <script src="./js/helpers.js" asp-append-version="true"></script>
    <script src="./js/deckStorage.js" asp-append-version="true"></script>
    <script src="./js/deckbuilder.rendering.js" asp-append-version="true"></script>
    <script src="./js/deckbuilder.handlers.js" asp-append-version="true"></script>
    <script src="./js/filter.js" asp-append-version="true"></script>
    <script src="./js/sort.js" asp-append-version="true"></script>

    <script>
        var deck = {
            hero: null,
            landscapes: [],
            cards: []
        };

        buildDeckIfExistsInQuery();
    </script>
}

@section Styles {
    <link rel="stylesheet" href="./css/deckbuilder.css" asp-append-version="true" />
    <link rel="stylesheet" href="./css/custom-checkbox.css" asp-append-version="true" />
}
