@page
@model CornDome.Pages.DeckModel
@{
    ViewData["Title"] = "Deck";
}

@if (Model.QueryDeck != null)
{
    <div class="d-flex">
        @if (Model.QueryDeck.Hero != null)
        {
            <div class="w-20">
                <a asp-page="/Card" asp-route-id="@Model.QueryDeck.Hero.Id">
                    <img class="w-100" alt="@Model.QueryDeck.Hero.LatestRevision.Name" src="@("/CardImages/" + Model.QueryDeck.Hero.LatestRevision.GetLargestImage)" />
                </a>
            </div>
        }
        
        @foreach (var landscape in Model.QueryDeck.Landscapes)
        {
            <div class="w-20">
                <a asp-page="/Card" asp-route-id="@landscape.Id">
                    <img class="w-100" alt="@landscape.LatestRevision.Name" src="@("/CardImages/" + landscape.LatestRevision.GetLargestImage)" />
                </a>
            </div>
        }
    </div>

    <div class="d-flex flex-wrap">
        @foreach (var card in Model.QueryDeck.Cards)
        {
            <div class="w-10">
                <a asp-page="/Card" asp-route-id="@card.Id">
                    <img class="deck-card-image w-100" alt="@card.LatestRevision.Name" src="@("/CardImages/" + card.LatestRevision.GetLargestImage)" />
                </a>
            </div>
        }
    </div>

    <div>
        <a asp-page="DeckBuilder" asp-route-deck="@(Request.Query["deck"])">Go To deck builder</a>
    </div>

    <style>
        .deck-card-image:hover {
            transform: scale(2);
            transition: transform .2s;
        }
    </style>
}
