@page
@using System.Text.Json
@model CornDome.Pages.GoldfishModel
@{
    ViewData["RenderMode"] = "wide";
    ViewData["Title"] = "Goldfish";
}

@if (Model.QueryDeck.Landscapes.Count < 4)
{
    <div class="container" style="margin: 50px; text-align: center;">
        <span> Deck does not have required amount of landscapes</span>
    </div>
}
else if (Model.QueryDeck.Cards.Count < 40)
{
    <div class="container" style="margin: 50px; text-align: center;">
        <span>Deck does not have enough cards</span>
    </div>
}
else
{
    <div class="game-board">
        <div id="deck" class="deck">
            <span>Deck (<span id="deck-size"></span>)</span>
            <div class="cardslot">
                <div class="card-placeholder">
                    <img src="/img/lifebackground.jpg" />
                </div>
            </div>
        </div>

        <div style="display: flex; position: relative; flex-wrap: wrap; width: 55%;">
            <div style="display: flex; width: 100%; height: 65%">
                <cd-landscape id="landscape1" class="landscape drop-landscape" data-landscape="landscape1" alt-text="@Model.QueryDeck.Landscapes[0].LatestRevision.Name" landscape-image="@("/CardImages/" + @Model.QueryDeck.Landscapes[0].LatestRevision.GetRegularImage)"></cd-landscape>
                <cd-landscape id="landscape2" class="landscape drop-landscape" data-landscape="landscape2" alt-text="@Model.QueryDeck.Landscapes[1].LatestRevision.Name" landscape-image="@("/CardImages/" + @Model.QueryDeck.Landscapes[1].LatestRevision.GetRegularImage)"></cd-landscape>
                <cd-landscape id="landscape3" class="landscape drop-landscape" data-landscape="landscape3" alt-text="@Model.QueryDeck.Landscapes[2].LatestRevision.Name" landscape-image="@("/CardImages/" + @Model.QueryDeck.Landscapes[2].LatestRevision.GetRegularImage)"></cd-landscape>
                <cd-landscape id="landscape4" class="landscape drop-landscape" data-landscape="landscape4" alt-text="@Model.QueryDeck.Landscapes[3].LatestRevision.Name" landscape-image="@("/CardImages/" + @Model.QueryDeck.Landscapes[3].LatestRevision.GetRegularImage)"></cd-landscape>
            </div>

            <div style="display: flex; width: 100%; height: 35%">
                <cd-building id="building1" data-building="building1" style="width: 25%;"></cd-building>
                <cd-building id="building2" data-building="building2" style="width: 25%;"></cd-building>
                <cd-building id="building3" data-building="building3" style="width: 25%;"></cd-building>
                <cd-building id="building4" data-building="building4" style="width: 25%;"></cd-building>
            </div>
        </div>

        <div id="spellzone" ondragover="event.preventDefault()">
            <span>Spell Zone</span>
            <div class="cardslot"></div>
        </div>

        <div id="discard">
            <span>Discard</span>
            <div class="cardslot"></div>
        </div>
    </div>

    <div id="control-board">
        <div id="lifetotal">
        </div>
        <div id="hand" style="">
        </div>
    </div>

    <context-menu target-class="card" id="cardMenu"></context-menu>
    <context-menu target-id="deck" id="deckMenu"></context-menu>
    <context-menu target-id="spellzone" id="spellzoneMenu"></context-menu>
    <context-menu target-id="discard" id="discardMenu"></context-menu>

    <!-- Modal for Deck and Discard -->
    <div id="deckModal" class="cd-modal">
        <context-menu target-class="deckCard" id="deckSubMenu"></context-menu>
        <div class="modal-content">
            <button class="close-btn" onclick="closeModal('deckModal')">Close</button>
            <ul id="deckList"></ul>
        </div>
    </div>

    <div id="discardModal" class="cd-modal">
        <context-menu target-class="discardCard" id="discardSubMenu"></context-menu>
        <div class="modal-content">
            <button class="close-btn" onclick="closeModal('discardModal')">Close</button>
            <ul id="discardList"></ul>
        </div>
    </div>

    @section Styles {
    <style>
        .game-board, #control-board {
            display: flex;
            justify-content: center;
            gap: 20px;
            width: 95%;
            margin: 0 auto 10px auto;
            height: 60vh;
        }

        #control-board {
            height: 100%;
        }

        #hand {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: center;
            flex-basis: 80%;
        }

        #lifetotal {
            flex-basis: 20%;
        }

        #deck, #discard, #spellzone {
            width: 15%;
            border: 1px solid white;
            border-radius: 3px;
        }

        .card-placeholder {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        #spellzone, #discard, #deck {
            display: block;
            position: relative;
            padding: 5px;
        }

            #spellzone .cardslot, #discard .cardslot, #deck .cardslot {
                margin-top: 10px;
            }

        .landscape {
            display: block;
            width: 25%;
        }


        #hand .hand-card {
            width: 16%;
        }

        .card-drop {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            top: 0;
            height: 60%;
            width: 60%;
        }

        /* Modal Styling */
        .cd-modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            color: #000;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            width: 80%;
            overflow-y: auto;
        }

        .close-btn {
            display: block;
            margin-left: auto;
            margin-right: 0;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        #deckList, #discardList {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
        }

            #deckList li, #discardList li {
                width: 100px;
            }

        context-menu {
            z-index: 5000;
        }

    </style>
    }

    @section Scripts {
    <script src="~/js/goldfish/contextMenu.js" asp-append-version="true"></script>
    <script src="~/js/goldfish/landscape.js" asp-append-version="true"></script>
    <script src="~/js/goldfish/building.js" asp-append-version="true"></script>

    <script>
        const cardMenu = document.getElementById('cardMenu');
        const deckMenu = document.getElementById('deckMenu');
        const discardMenu = document.getElementById('discardMenu');
        const spellzoneMenu = document.getElementById('spellzoneMenu');
        const discardSubMenu = document.getElementById('discardSubMenu');
        const deckSubMenu = document.getElementById('deckSubMenu');
    </script>

    <script>
        // Modal handling functions
        function openModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.style.display = 'flex';
        }

        function closeModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.style.display = 'none';
        }
    </script>

    <script>
        var deck = JSON.parse('@(Html.Raw(JsonSerializer.Serialize(Model.QueryDeck.Cards)))');
        var zones = {
            hand: document.getElementById('hand'),
            discard: document.getElementById('discard'),
            deck: document.getElementById('deck'),
            spellZone: document.getElementById('spellzone')
        };

        var applicationState = {
            hand: [],
            discard: [],
            deck: [],
            field: {
                spellZone: null,
                landscape1: {
                    card: null
                },
                building1: {
                    data: null
                },
                landscape2: {
                    card: null
                },
                building2: {
                    data: null
                },
                landscape3: {
                    card: null
                },
                building3: {
                    data: null
                },
                landscape4: {
                    card: null
                },
                building4: {
                    data: null
                },
            }
        };

        function render() {
            var deckSize = document.getElementById('deck-size');

            deckSize.textContent = applicationState.deck.length;
            if (applicationState.deck.length === 0) {
                document.querySelector('#deck .cardslot img').src = "";
            }

            zones.hand.innerHTML = "";
            for (let handCard of applicationState.hand) {
                let template = handCardTemplate(handCard);
                zones.hand.insertAdjacentHTML("beforeend", template);
            }

            if (applicationState.field.spellZone !== null) {
                var spellzone = document.querySelector("#spellzone .cardslot");
                spellzone.innerHTML = "";
                let template = handCardTemplate(applicationState.field.spellZone);
                spellzone.insertAdjacentHTML("beforeend", template);
            } else {
                var spellzone = document.querySelector("#spellzone .cardslot");
                spellzone.innerHTML = "";
            }

            if (applicationState.discard.length > 0) {
                var discardPile = document.querySelector("#discard .cardslot");
                discardPile.innerHTML = "";
                let template = handCardTemplate(applicationState.discard[applicationState.discard.length - 1]);
                discardPile.insertAdjacentHTML("beforeend", template);
            }
        }

        function drawCard() {
            if (applicationState.deck.length > 0)
                applicationState.hand.push(applicationState.deck.pop());
            render();
            handlers();
        }

        function viewDeck() {
            const deckList = document.getElementById('deckList');
            deckList.innerHTML = ''; // Clear the current deck list

            if (applicationState.deck.length > 0) {
                applicationState.deck.forEach((card, index) => {
                    const listItem = document.createElement('li');
                    listItem.className = 'deckCard';
                    listItem.innerHTML = handCardTemplate(card);
                    listItem.dataset.index = index;

                    listItem.addEventListener('contextmenu', (event) => {
                        event.preventDefault();
                        deckSubMenu.showMenu(event.pageX, event.pageY, event.target);
                    });

                    deckList.appendChild(listItem);
                });
            } else {
                deckList.innerHTML = "No cards in deck";
            }


            openModal('deckModal');
        }

        function viewDiscard() {
            const discardList = document.getElementById('discardList');
            discardList.innerHTML = ''; // Clear the current deck list

            if (applicationState.discard.length > 0) {
                applicationState.discard.forEach((card, index) => {
                    const listItem = document.createElement('li');
                    listItem.className = 'discardCard';
                    listItem.innerHTML = handCardTemplate(card);
                    listItem.dataset.index = index;

                    listItem.addEventListener('contextmenu', (event) => {
                        event.preventDefault();
                        discardSubMenu.showMenu(event.pageX, event.pageY, event.target);
                    });
                    discardList.appendChild(listItem);
                });
            } else {
                discardList.innerHTML = "No cards in the discard pile";
            }

            openModal('discardModal');
        }

        function shuffle(array) {
            let currentIndex = array.length;

            // While there remain elements to shuffle...
            while (currentIndex != 0) {

                // Pick a remaining element...
                let randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;

                // And swap it with the current element.
                [array[currentIndex], array[randomIndex]] = [
                    array[randomIndex], array[currentIndex]];
            }
        }

        function shuffleDeck() {
            shuffle(applicationState.deck);
        }

        function setMenus() {
            // Card Menu
            const cardMenuItems = [
                { label: 'Discard', action: discardFromHand }
            ];
            cardMenu.setMenuItems(cardMenuItems);

            // Deck Menu
            const deckMenuItems = [
                { label: 'Draw', action: drawCard },
                { label: 'Shuffle', action: shuffleDeck },
                { label: 'View', action: viewDeck },
                { label: 'Mill', action: mill }
            ];
            deckMenu.setMenuItems(deckMenuItems);

            // Discard Menu
            const discardMenuItems = [
                { label: 'View', action: viewDiscard }
            ];
            discardMenu.setMenuItems(discardMenuItems);

            // Spellzone Menu
            const spellzoneMenuItems = [
                { label: 'Discard', action: discardFromSpellZone }
            ];
            spellzoneMenu.setMenuItems(spellzoneMenuItems);

            // Discard Sub Menu
            const discardSubMenuItems = [
                { label: 'To Hand', action: discardToHand },
                { label: 'To Top Deck', action: discardToDeck }
            ];
            discardSubMenu.setMenuItems(discardSubMenuItems);

            // Deck Sub Menu
            const deckSubMenuItems = [
                { label: 'To Hand', action: deckToHand },
                { label: 'To Discard', action: deckToDiscard }
            ];
            deckSubMenu.setMenuItems(deckSubMenuItems);
        }

        function discardToHand(target) {
            var locationInDiscard = target.parentElement.parentElement.dataset.index;
            var card = applicationState.discard.splice(locationInDiscard, 1)[0];

            document.dispatchEvent(new CustomEvent('to-hand', { detail: card }));
            viewDiscard();
        }

        function discardToDeck(target) {
            var locationInDiscard = target.parentElement.parentElement.dataset.index;
            var card = applicationState.discard.splice(locationInDiscard, 1)[0];

            applicationState.deck.push(card);
            viewDiscard();

            render();
            handlers();
        }

        function deckToHand(target) {
            var locationInDeck = target.parentElement.parentElement.dataset.index;
            var card = applicationState.deck.splice(locationInDeck, 1)[0];

            document.dispatchEvent(new CustomEvent('to-hand', { detail: card }));
            viewDeck();
        }

        function deckToDiscard(target) {
            var locationInDeck = target.parentElement.parentElement.dataset.index;
            var card = applicationState.deck.splice(locationInDeck, 1)[0];

            document.dispatchEvent(new CustomEvent('discard-card', { detail: card }));
            viewDeck();
        }

        function handlers() {
            const elements = document.querySelectorAll("#hand .hand-card");

            for (let handCard of elements) {
                handCard.removeEventListener("dragstart", dragstartHandler);
                handCard.addEventListener("dragstart", dragstartHandler);
            }

            elements.forEach((card) => {
                card.addEventListener('contextmenu', (event) => {
                    event.preventDefault();  // Disable default browser context menu
                    cardMenu.showMenu(event.pageX, event.pageY, event.target);
                });
            });

            // Context Menus
            setMenus();

            zones.deck.addEventListener('contextmenu', (event) => {
                event.preventDefault();
                deckMenu.showMenu(event.pageX, event.pageY, event.target);
            });

            zones.discard.addEventListener('contextmenu', (event) => {
                event.preventDefault();
                discardMenu.showMenu(event.pageX, event.pageY, event.target);
            });

            zones.spellZone.addEventListener('contextmenu', (event) => {
                event.preventDefault();
                spellzoneMenu.showMenu(event.pageX, event.pageY, event.target);
            });

            zones.spellZone.removeEventListener("drop", spellzoneDrop);
            zones.spellZone.addEventListener('drop', spellzoneDrop);
        }

        function discardFromSpellZone() {
            let card = applicationState.field.spellZone;
            applicationState.field.spellZone = null;

            document.dispatchEvent(new CustomEvent('discard-card', { detail: card }));

            render();
            handlers();
        }

        function mill() {
            if (applicationState.deck.length > 0) {
                let card = applicationState.deck.pop();
                document.dispatchEvent(new CustomEvent('discard-card', { detail: card }));
            }

            render();
            handlers();
        }

        function discardFromHand(target) {
            var id = parseInt(target.parentElement.dataset.id, 10);
            var locationInHand = applicationState.hand.map(function (x) { return x.Id; }).indexOf(id);
            var card = applicationState.hand.splice(locationInHand, 1);

            document.dispatchEvent(new CustomEvent('discard-card', { detail: card[0] }));

            render();
            handlers();
        }

        function handCardTemplate(card) {
            var data = encodeURIComponent(JSON.stringify(card));
            return `
                                <div draggable="true"
                                    class="hand-card"
                                    data-id="${card.Id}"
                                    data-card="${data}">
                                            <img class="deck-card-image" alt="${card.LatestRevision.Name}" style = "width: 100%;" src="/CardImages/${card.LatestRevision.GetRegularImage}" />
                                 </div>
                            `;
        }

        function dragstartHandler(ev) {
            // Add the target element's id to the data transfer object
            ev.dataTransfer.setData("text/plain", ev.target.parentElement.dataset.card);
        }

        function spellzoneDrop(ev) {
            ev.preventDefault();

            try {
                const rawData = ev.dataTransfer.getData('text');
                const card = JSON.parse(decodeURIComponent(rawData));

                if (applicationState.field.spellZone !== null) {
                    document.dispatchEvent(new CustomEvent('discard-card', { detail: applicationState.field.spellZone }));
                }

                var locationInHand = applicationState.hand.map(function (x) { return x.Id; }).indexOf(card['Id']);
                applicationState.hand.splice(locationInHand, 1);

                applicationState.field.spellZone = card;
                render();
                handlers();
            }
            catch (ex) {
                console.error('Object is not droppable: ' + ex);
            }
        }

        document.addEventListener('landscape-card-drop', (event) => {
            const cardData = event.detail.cardData;
            var locationInHand = applicationState.hand.map(function (x) { return x.Id; }).indexOf(cardData['Id']);
            applicationState.hand.splice(locationInHand, 1);
            render();
            handlers();
        });

        document.addEventListener('building-card-drop', (event) => {
            const cardData = event.detail.cardData;
            var locationInHand = applicationState.hand.map(function (x) { return x.Id; }).indexOf(cardData['Id']);
            applicationState.hand.splice(locationInHand, 1);
            render();
            handlers();
        });

        document.addEventListener('discard-card', (event) => {
            const cardData = event.detail;
            applicationState.discard.push(cardData);

            render();
            handlers();
        });

        document.addEventListener('to-hand', (event) => {
            const cardData = event.detail;
            applicationState.hand.push(cardData);

            render();
            handlers();
        });

        window.addEventListener("DOMContentLoaded", () => {
            applicationState.deck = deck;

            shuffle(applicationState.deck);
            for (var i = 0; i < 5; i++) {
                applicationState.hand.push(applicationState.deck.pop());
            }

            render();
            handlers();
        });
    </script>
    }
}

